.margin1{
    margin-left: 8%;
}
.margin2{
    margin-right: 8%;
}
footer h5{
    text-align: center;
    font-family: serif;
    font-size: 15px;
}

footer{
    margin-top:5%;
}
a{
    font-family: serif;
    color:white !important;
}
nav{
    background-color: #065e86 !important;
}
body{
    background-color: #e2e2e2;
}
#logo{
    margin-top:-4px;
}
.width{
    max-width: 700px !important;
    max-height: max-content;
    margin-top: 5%;
    margin-left:1%;
    margin-right:1%;
    background-color: white;
    padding: 10px;
}
.boton{
    font-family: serif;
    font-size: 15px;
    margin-top: 10px;
}
.input{
    width: 100px !important;
    height:35px;
    font-family: serif;
}
h3{
    font-family: serif;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}
#form{
    max-width: 350px;
    margin-top:5%;
    background-color:white;
    padding:2px 5px 10px 5px;
}
#form button{
   margin-top:10px;
   width:200px;
   background-color:#065e86;
   font-family: serif;

}
.botones{
    background-color:#065e86;
    font-family: serif;
}
#resultados{
    max-width: 700px;
    margin-top:23px;
    background-color:white;
    padding:2px 5px 20px 5px;
    margin-left:1%;
    margin-right:1%;
}
.title{
    font-family: serif;
    font-size: 23px;
    margin-top: 10px;
    color: black;
    margin-bottom:13px;
}
.set{
    font-family: serif;
    font-size: 18px;
    margin-top: 10px;
    color: black;
    margin-top:-1px;
    margin-bottom:-1px;
}